body {
  background-color: #eeccaa;
}

.App {
  background-color: #eeccaa;
  width: 90%;
  height: 100%;
  margin: auto;
  align-items: center;
}

.App-header {
  background-color: #663333;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}