
.label{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
    color: black;
}

.textfield{
    font-size: 14px;
    padding: 5px;
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    color: black;
}