body {
    background-color: #eeccaa;
}

.container {
    background-color: #eeccaa;
    width: 65%;
    height: 100%;
    margin: auto;
    align-items: center;
}

.timetableHeader {
    background-color: #663333;
    min-height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 15px
}

.timetableContainer {
    background-color: #883333;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: auto;
    align-self: center;
    color: white;
    text-align: justify
}

.datePicker {
    background-color: #eeccaa;
    color: #663333;
    margin-bottom: 15px;
}

table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
table, th, td {
    border: 1px solid black;
    border-color: white;
    padding: 10px;
    color: white
}
th {
    text-align: center;
}
.button {
	width: 90%;
    font-size: calc(10px + 0.5vmin);
    margin-left: 0;
    background-color: #eeccaa;
    color: #883333;
    font-weight: bold;
}